/* 
	СОДЕРЖАНИЕ:
	1. ТИПОГРАФИЯ
	2. ЦВЕТА
	3. КНОПКИ
	4. ЭФФЕКТЫ 
*/

/* **********
	*********** !!! ТИПОГРАФИЯ !!! ***********
	*********** 
*/

.content {
	h2 {
		font-size: 28px;
		padding: 20px 0 10px 0;
	}
	h3 {
		font-size: 22px;
		font-weight: 600;
		padding: 15px 0;
	}
	a {
		color: #0666f5;
		&:hover {
			color: #f95146;
		}
	}
	p {
		color: #1b1b1b;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 20px;
	}
	&.sm {
		p {
			font-size:  16px;
		}
	}
	ul {
		color: #1b1b1b;
    font-size: 18px;
    line-height: 1.65;
    font-weight: 300;
		margin: 20px 0;
	}
	&.sm {
		ul {
			font-size:  16px;
		}
	}
	li {
		position: relative;
		padding-left: 20px;
		&:before {
		  content: '';
	    width: 10px;
	    height: 10px;
	    position: absolute;
	    top: 11px;
	    left: 0;
	    background-color: #60cc7d;
	    border-radius: 50%;
		}
	}
	.wp-caption, .wp-block-image {
		width: 80% !important;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(204, 204, 204, 0.48);
    box-shadow: 0px 0px 5px 0px rgba(204, 204, 204, 0.48);
    padding: 10px;
    margin: 30px auto;
    @include for-phone {
    	width: 100% !important;
    }
    &-text {
    	font-size: 14px;
    	text-align: center;
    	margin-bottom: 0;
    }
		img {
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
			margin-bottom: 10px;
		}
		figcaption {
	    text-align: center;
	    font-style: italic;
	    margin: 0.5rem 0 0 0;
		}
	}
}

/* **********
	*********** !!! ЦВЕТА !!! ***********
	*********** 
*/
.color_yellow {
	color: var(--color_yellow);
}

.color_green {
	color: var(--color_green);
}

.color_red {
	color: var(--color_red);
}

.color_purple {
	color: var(--color_purple);
}

.color_blue {
	color: var(--color_blue);
}

.color_dark {
	color: var(--color_dark);
}

.color_gray {
	color: var(--color_gray);
}

.bg_yellow {
	background-color: var(--color_yellow);
}

.bg_green {
	background-color: var(--color_green);
}

.bg_red {
	background-color: var(--color_red);
}

.bg_purple {
	background-color: var(--color_purple);
}

.bg_blue {
	background-color: var(--color_blue);
}

.bg_dark {
	background-color: var(--color_dark);
}

.bg_dark_gray {
	background-color: var(--color_dark_gray);
}


/* **********
	*********** !!! КНОПКИ !!! ***********
	*********** 
*/

.btn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	font-weight: black;
	text-align: center;
	cursor: pointer;
	&.red {
		color: var(--color_red);
		border: 1px solid var(--color_red);
		-webkit-transition: all 0.35s;
		-o-transition: all 0.35s;
		transition: all 0.35s;
		&:hover {
			color: #FFFFFF;
			background-color: var(--color_red);
		}
		&.fill {
			color: #FFFFFF;
			background-color: var(--color_red);
		}
	}
	&.green {
		color: var(--color_green);
		border: 1px solid var(--color_green);
		-webkit-transition: all 0.35s;
		-o-transition: all 0.35s;
		transition: all 0.35s;
		&:hover {
			color: #FFFFFF;
			background-color: var(--color_green);
		}
		&.fill {
			color: #FFFFFF;
			background-color: var(--color_green);
		}
	}
	&.big {
		min-height: 75px;
		font-size: var(--big_font);	
		border-radius: 30px;
		padding: 0px 81px;
	}
	&.medium {
		min-height: 50px;
		font-size: var(--medium_font);
		border-radius: 20px;
		padding: 0px 71px;

	}
	&.small {
		min-height: 40px;
		font-size: var(--small_font);
		border-radius: 15px;
		padding: 0px 51px;
	}
}

/* **********
	*********** !!! ЭФФЕКТЫ !!! ***********
	*********** 
*/
.layer_blue {
	-webkit-filter: blur(20px);
	filter: blur(20px);
}
.background_blue {
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
}

input.input-text {
	width: 100%;
	font-size: 12px;
	border: 1px solid #DBDBDB;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 12px;
	padding: 12px 10px;
}

input[type="number"] {
	width: 35px;
	text-align: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}